ops/automation/email-triage/n8n-workflow.json
{
  "name": "Email Triage - M365 till Gmail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Varje timme",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Morgon 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 50,
        "filters": {
          "isRead": false
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Hämta nya mejl",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [300, 300],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-456789012345",
      "name": "Hämta dagens kalender",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [300, 500],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Du är en email-assistent som klassificerar inkommande mejl.\n\nUPPGIFT: Analysera mejlet och returnera JSON med klassificering.\n\nKATEGORIER:\n- \"viktigt\": Kund-relaterat, affärskritiskt, kräver svar inom 24h\n- \"info\": Bra att veta, men inget akut\n- \"skip\": Nyhetsbrev, reklam, automatiserade notiser\n\nRETURNERA ENDAST JSON:\n{\n  \"kategori\": \"viktigt\" | \"info\" | \"skip\",\n  \"anledning\": \"En mening som förklarar varför\",\n  \"sammanfattning\": \"2-3 meningar om mejlets innehåll\"\n}\n\nREGLER:\n- Mejl från kunder = alltid \"viktigt\"\n- Fakturor och betalningar = \"viktigt\"\n- Nyhetsbrev = \"skip\"\n- LinkedIn-notiser = \"skip\"\n- Kalenderinbjudningar = \"viktigt\"\n- Interna system-notiser = \"info\""
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-567890123456",
      "name": "AI Klassificera mejl",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Du sammanfattar dagens kalender.\n\nUPPGIFT: Skapa en kort morgonöversikt.\n\nFORMAT:\n📅 Dagens datum\n\n[TID] - [Möte/Rubrik]\n→ [En rad kontext om relevant]\n\n---\nTotalt: X möten idag\n\nREGLER:\n- Max 1 rad per möte\n- Skippa lunch/fokustid om inget speciellt\n- Flagga dubbelbokningar med ⚠️"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "f6a7b8c9-d0e1-2345-f012-678901234567",
      "name": "AI Summera kalender",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [500, 500],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const content = item.json.message?.content || item.json.text || JSON.stringify(item.json);\n    const parsed = JSON.parse(content);\n    results.push({ json: { ...parsed, originalEmail: item.json } });\n  } catch (e) {\n    results.push({ json: { kategori: 'info', anledning: 'Kunde inte parsa', sammanfattning: 'Se original' } });\n  }\n}\n\nreturn results;"
      },
      "id": "a7b8c9d0-e1f2-3456-0123-789012345678",
      "name": "Parsa AI-svar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.kategori }}",
              "rightValue": "viktigt",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b8c9d0e1-f2a3-4567-1234-890123456789",
      "name": "Filter Endast viktigt",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sendTo": "DIN_GMAIL@gmail.com",
        "subject": "=[VIKTIGT] {{ $json.originalEmail.subject }}",
        "message": "📬 Vidarebefordrat från M365\n\n{{ $json.sammanfattning }}\n\n---\nAnledning: {{ $json.anledning }}\n\n---\nOriginal mejl preview finns i M365"
      },
      "id": "c9d0e1f2-a3b4-5678-2345-901234567890",
      "name": "Gmail Skicka viktigt",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1100, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "sendTo": "DIN_GMAIL@gmail.com",
        "subject": "=📅 Dagens schema",
        "message": "={{ $json.message?.content || $json.text || 'Inga möten idag' }}"
      },
      "id": "d0e1f2a3-b4c5-6789-3456-012345678901",
      "name": "Gmail Morgonsummering",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [700, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Varje timme": {
      "main": [
        [
          {
            "node": "Hämta nya mejl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morgon 07:00": {
      "main": [
        [
          {
            "node": "Hämta dagens kalender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hämta nya mejl": {
      "main": [
        [
          {
            "node": "AI Klassificera mejl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hämta dagens kalender": {
      "main": [
        [
          {
            "node": "AI Summera kalender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Klassificera mejl": {
      "main": [
        [
          {
            "node": "Parsa AI-svar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summera kalender": {
      "main": [
        [
          {
            "node": "Gmail Morgonsummering",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsa AI-svar": {
      "main": [
        [
          {
            "node": "Filter Endast viktigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Endast viktigt": {
      "main": [
        [
          {
            "node": "Gmail Skicka viktigt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 2
}
